<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite" output="css/app.css"
            "assets/vendor/bootstrap/dist/css/bootstrap.min.css"
            "assets/css/*" %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>

        <div class="container">

            {% block header %}
                {{ include('default/_header.html.twig') }}
            {% endblock %}

            {% block notifications %}
                {{ include('default/_notifications.html.twig') }}
            {% endblock %}

            {% block body %}{% endblock %}

        </div>

        {% block javascripts %}
            {% javascripts filter="?jsqueeze" output="js/app.js"
            "assets/vendor/jquery/dist/jquery.min.js"
            "assets/vendor/bootstrap/dist/js/bootstrap.min.js"
            "assets/js/*" %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
