<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ 'base.project_name'|trans }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href="{{ path('list_ad') }}">
                        {{ 'layout.list_ad'|trans }}
                    </a>
                </li>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                        <a href="{{ path('new_ad') }}">
                            {{ 'layout.new_ad'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('list_ad_by_user', {'user': app.user.id}) }}">
                            {{ 'layout.list_my_ad'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path("fos_user_registration_register") }}">{{ 'layout.register'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}

            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>