<div class="col-sm-6 col-md-4">
    <div class="box">

        <h2 class="text-center">#{{ loop.index }}</h2>

        <p><b>{{ 'form.ad.title'|trans }}:</b> {{ item.title }}</p>

        <p><b>{{ 'form.ad.date'|trans }}:</b> {{ item.createdAt|date('Y-m-d H:i:s') }}</p>

        {% if item.description|striptags is not empty %}
            <p><b>{{ 'form.ad.description'|trans }}:</b> {{ item.description }}</p>
        {% endif %}

        <p><b>{{ 'form.ad.username'|trans }}:</b> {{ item.user.username }}</p>
    </div>
</div>