{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="bg bg-{{ type }}">
            {{ message|trans() }}
        </div>
    {% endfor %}
{% endfor %}

{% set errors = [] %}

{# get error from login #}
{% if error is defined and error is not empty %}
    {% set errors = errors|merge([error]) %}
{% endif %}

{# collect errors from form #}
{% if form is defined and not form.vars.valid %}
    {% for child in form.children %}
        {% for child in child.children %}
            {% for error in child.vars.errors %}
                {% set errors = errors|merge([error]) %}
            {% endfor %}
        {% endfor %}
        {% for error in child.vars.errors %}
            {% set errors = errors|merge([error]) %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% for error in errors %}
    <div class="bg bg-danger">{{ error.message|trans }}</div>
{% endfor %}