{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    {% for ad in ads %}
        {% include 'default/_item_ad.html.twig' with {'item': ad, 'loop': loop} only %}
    {% endfor %}
    </div>
{% endblock %}
