{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}

    <h2 class="form-signin-heading">{{ 'layout.new_ad'|trans }}</h2>

    {{ form_label(form.title, null, {'label_attr': {'class': 'sr-only'} }) }}
    {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'form.ad.title'|trans } }) }}

    {{ form_label(form.description, null, {'label_attr': {'class': 'sr-only'} }) }}
    {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'form.ad.description'|trans } }) }}

    <div class="button-container">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'form.ad.submit'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
