{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin fos_user_registration_register'}}) }}

<h2 class="form-signin-heading">{{ 'layout.register'|trans }}</h2>

{{ form_label(form.email, null, {'label_attr': {'class': 'sr-only'} }) }}
{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}

{{ form_label(form.username, null, {'label_attr': {'class': 'sr-only'} }) }}
{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}

{{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'sr-only'} }) }}
{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control no-margin', 'placeholder': 'form.password'|trans } }) }}

{{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'sr-only'} }) }}
{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}

<div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'registration.submit'|trans }}</button>
    <a href="{{ path("fos_user_security_login") }}" class="btn btn-lg btn-block btn-danger">{{ 'layout.login'|trans }}</a>
</div>
{{ form_end(form) }}