{% trans_default_domain 'FOSUserBundle' %}

<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    <h2 class="form-signin-heading">{{ 'layout.login'|trans }}</h2>
    <label for="inputUsername" class="sr-only">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="inputUsername" name="_username" class="form-control"
           placeholder="{{ 'security.login.username'|trans }}" required autofocus>
    <label for="inputPassword" class="sr-only">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="inputPassword" name="_password" class="form-control"
           placeholder="{{ 'security.login.password'|trans }}" required>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me" name="_remember_me"
                   value="on"> {{ 'security.login.remember_me'|trans }}
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a href="{{ path("fos_user_registration_register") }}" class="btn btn-lg btn-block btn-danger">{{ 'layout.register'|trans }}</a>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
</form>
